<html>
<body>
    <h2>Add New Office Space</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_unit" class="control-group"> <label for="id_unit" class="control-label requiredField">
        Unit<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="office_unit" maxlength="16" class="textinput textInput" required="" id="id_office_unit"> </div> </div> 
        <div id="div_id_feature" class="control-group"> <label for="id_feature" class="control-label requiredField">
        Feature<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="feature" maxlength="64" class="textinput textInput" required="" id="id_feature"> </div> </div>
        <div id="div_id_timescale" class="control-group"> <label for="id_timescale" class="control-label requiredField">
        Timescale<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="timescale" maxlength="64" class="textinput textInput" required="" id="id_timescale"> </div> </div>
        <div id="div_id_type" class="control-group"> <label for="id_type" class="control-label requiredField">
        Type<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="type" maxlength="64" class="textinput textInput" required="" id="id_type"> </div> </div>
        <div id="div_id_size" class="control-group"> <label for="id_size" class="control-label requiredField">
        Size (s.f)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="size" class="dateinput" required="" id="id_size"> </div> </div>
        <div id="div_id_street" class="control-group"> <label for="id_street" class="control-label requiredField">
        Street<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="street" maxlength="8" class="numberinput numberInput" required="" id="id_street"> </div> </div>

        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
