{% load static %}
<html>
<body>
    <img src="{% static 'app/images/hotdesk.jpg' %}" style="text-align:center; width: 30%" alt="HotDesk logo"/><br/>    
    <h2 style="text-align:center">Adminsistrator Analytics<h2/>
    <br/>
    
    <style>
    div.ex1 {
      background-color: lightyellow;
      width: 1100px;
      height: 800px;
      overflow: scroll;
    }
    </style>

    <h2>Customers<h2/>
        
    <form method="POST" style="display: inline;">
    {% csrf_token %}
    <button type='submit' name='action' value= 'customer_offices'>Rented Offices</button>
    <button type='submit' name='action' value = 'customer_workcubes'>Rented Workcubes</button>
    <button type='submit' name='action' value = 'customer_confrooms'>Rented Conference Rooms</button>
    <button type='submit' name='action' value = 'customer_storages'>Rented Storages</button>
    </form>
        
    <div class="ex1">
    <table border=1>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>D.O.B</th>
            <th>Contact No.</th>
            <th>Action</th>
        </thead>
        {% for rent in customer_rented %}
        <tr>
            <td> {{ rent.0 }} </td>
            <td> {{ rent.1 }} </td>
            <td> {{ rent.2 }} </td>
            <td> {{ rent.3 }} </td>
            <td> {{ rent.4 }} </td>
            <td> {{ rent.5 }} </td>
            <td> {{ rent.6 }} </td>
            <td>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="rent_customerid" value="{{rent.0}}"/>
                <input type="hidden" name="rent_unit" value="{{rent.1}}"/>
                <input type="hidden" name="rent_street" value="{{rent.4}}"/>
                <input type="hidden" name="rent_unit_no" value="{{rent.5}}"/>
                <input type="hidden" name="rent_postal_code" value="{{rent.6}}"/>
                </form></td> 
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>
</body>
</html>
