{% load static %}
<html>
<body>
    <img src="{% static 'app/images/hotdesk.jpg' %}" style="text-align:center; width: 30%" alt="HotDesk logo"/><br/>    
    <h2 style="text-align:center">Adminsistrator Analytics<h2/>
    <br/>
    
    <style>
    div.ex1 {
      background-color: lightyellow;
      width: 1100px;
      height: 800px;
      overflow: scroll;
    }
    </style>

    <h2>Customers<h2/>
        
    <form method="POST" style="display: inline;">
    {% csrf_token %}
    <button type='submit' name='action' value= 'customer_offices'>Rented Offices</button>
    <button type='submit' name='action' value = 'customer_workcubes'>Rented Workcubes</button>
    <button type='submit' name='action' value = 'customer_confrooms'>Rented Conference Rooms</button>
    <button type='submit' name='action' value = 'customer_storages'>Rented Storages</button>
    </form>
        
    <div class="ex1">
    <table border=1>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>D.O.B</th>
            <th>Contact No.</th>
            <th>Action</th>
        </thead>
        {% for cust in customer_records %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.5 }} </td>
            <td> {{ cust.6 }} </td>
            <td>
                <a href="view/{{cust.0}}"><button>View</button></a> | 
                <a href="edit/{{cust.0}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{cust.0}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>
</body>
</html>
