{% load static %}
<html>
<body>
    <img src="{% static 'app/images/hotdesk.jpg' %}" style="text-align:center; width: 30%" alt="HotDesk logo"/><br/>    
    <h2 style="text-align:center">Adminsistrator Analytics<h2/>
        
    <div style="text-align:right">
        <form method="POST" style="display: inline;">
            <!-- Security token by Django -->
            {% csrf_token %}
            <button type="submit" style="color:blue" name="action" value="back">Back</button>
        </form>
    </div><br/>
    
    <style>
    div.ex1 {
      background-color: lightyellow;
      width: 1100px;
      height: 400px;
      overflow: scroll;
    }
    div.ex2 {
      background-color: lightgreen;
      width: 1100px;
      height: 400px;
      overflow: scroll;
    }
    div.ex3 {
      background-color: lightblue;
      width: 1100px;
      height: 400px;
      overflow: scroll;
    }
    </style>

    <h2>Customer Logs<h2/>
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        <button type='submit' name='action' value= 'customer_all'>Rented All</button>
        <button type='submit' name='action' value= 'customer_offices'>Rented Offices</button>
        <button type='submit' name='action' value = 'customer_workcubes'>Rented Workcubes</button>
        <button type='submit' name='action' value = 'customer_confrooms'>Rented Conference Rooms</button>
        <button type='submit' name='action' value = 'customer_storages'>Rented Storages</button>
        <button type='submit' name='action' value = 'no_rent'>No Rented</button>
    </form>

    <div class="ex1">
    <table border=1>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Unit</th>
            <th>Start Rent</th>
            <th>End Rent</th>
            <th>Street</th>
            <th>Postal Code</th>
        </thead>
        {% for rent in customer_rented %}
        <tr>
            <td> {{ rent.0 }} </td>
            <td> {{ rent.1 }} </td>
            <td> {{ rent.2 }} </td>
            <td> {{ rent.3 }} </td>
            <td> {{ rent.4 }} </td>
            <td> {{ rent.5 }} </td>
            <td> {{ rent.6 }} </td>
            <td> {{ rent.7 }} </td>
        </tr>
        {% endfor %}
    </table>
        
    </div><br/>
    
    <h2>Revenue per customer<h2/>
    <form method="POST" style="display: inline;">
    {% csrf_token %}
    <button type='submit' name='action' value= 'richest'>Price (High to Low)</button>
    <button type='submit' name='action' value= 'poorest'>Price (Low to High)</button>
    </form>
        
    <div class="ex2">
    <table border=1>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Amount Paid</th>
        </thead>
        {% for cust in customer_comparison %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div><br/>
        
    <h2>Transaction history<h2/>
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        <label for="custidsearch">Search for customerid: </label><input type="text" id="custidsearch" name="custidsearch" value=""><button type="submit" style="color:green" name="action" value="search">Search</button><br/>
        <button type='submit' name='action' value='transaction_all'>All transactions</button>
    </form><br/>
    
    <div class="ex3">
    <table border=1>
        <thead>
            <th>Customer ID</th>
            <th>Transaction ID</th>
            <th>Amount Paid</th>
        </thead>
        {% for trans in transactions %}
        <tr>
            <td> {{ trans.0 }} </td>
            <td> {{ trans.1 }} </td>
            <td> {{ trans.2 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div><br/>

<h2>Unit Popularity<h2/>
<div class="ex4">
    <table border=1 style="width:20%;">
        <thead>
            <th>Unit</th>
            <th>Number of Rents</th>
        </thead>
        {% for pop in popularity %}
        <tr>
            <td> {{ pop.0 }} </td>
            <td> {{ pop.1 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div><br/>
    
<h1>Charts</h1>
    <script>
        var ru_array = [['Unit', 'Revenue']];
    </script>
    
    {% for ru in revenueunit %}
    <script>
        ru_array.push(["{{ru.0}}", {{ru.1}}]);
    </script>
    {% endfor %}
    
    <head>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">      
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(ru_array);
            var options = {
                title: 'Trend by Unit',
                hAxis: {title: 'FileName', titleTextStyle: {color: 'red'}}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
        </script>
    </head>
        
    <body>
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </body>

</body>
</html>
