{% load static %}
<html>
<body>
    <img src="{% static 'app/images/hotdesk.jpg' %}" style="text-align:center; width: 30%" alt="HotDesk logo"/><br/>    
    <h2 style="text-align:center">Hello Administrator!<h2/>
    
    <div style="text-align:right">
        <form method="POST" style="display: inline;">
            <!-- Security token by Django -->
            {% csrf_token %}
            <button type="submit" style="color:blue" name="action" value="logout">Log out</button>
        </form>
    </div>
    
    <p><a href='adminanalytics'>Admin Analytics</a></p>
    <br/>
    
    <style>
    div.ex1 {
      background-color: lightyellow;
      width: 1100px;
      height: 200px;
      overflow: scroll;
    }
    div.ex2 {
      background-color: lightgreen;
      width: 1100px;
      height: 200px;
      overflow: scroll;
    }
    div.ex3 {
      background-color: lightblue;
      width: 1100px;
      height: 200px;
      overflow: scroll;
    }
    div.ex4 {
      background-color: lightpink;
      width: 1100px;
      height: 200px;
      overflow: scroll;
    }
    div.ex5 {
      background-color: lightgray;
      width: 1100px;
      height: 200px;
      overflow: scroll;
    }
    </style>

    <h2>Customers<h2/>
    <a href="addcustomer">Add new customer</a>
    <div class="ex1">
    <table border=1>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>D.O.B</th>
            <th>Contact No.</th>
            <th>Action</th>
        </thead>
        {% for cust in records %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.5 }} </td>
            <td> {{ cust.6 }} </td>
            <td>
                <a href="view/{{cust.0}}"><button>View</button></a> | 
                <a href="edit/{{cust.0}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{cust.0}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>
        
    <h2>Currently rented spaces:<h2/>  
    <table border=1>
        <thead>
            <th>ID</th>
            <th>Unit</th>
            <th>Start date_time</th>
            <th>End date_time</th>
            <th>Street</th>
            <th>Unit No.</th>
            <th>Postal Code</th>
            <th style="color:red">Action</th>
        </thead>
        
        {% for rent in rented %}
        
        <tr>
            <td> {{ rent.0 }} </td>
            <td> {{ rent.1 }} </td>
            <td> {{ rent.2 }} </td>
            <td> {{ rent.3 }} </td>
            <td> {{ rent.4 }} </td>
            <td> {{ rent.5 }} </td>
            <td> {{ rent.6 }} </td>
            <td>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="rent_customerid" value="{{rent.0}}"/>
                <input type="hidden" name="rent_unit" value="{{rent.1}}"/>
                <input type="hidden" name="rent_street" value="{{rent.4}}"/>
                <input type="hidden" name="rent_unit_no" value="{{rent.5}}"/>
                <input type="hidden" name="rent_postal_code" value="{{rent.6}}"/>
                <button style="color:red" onclick="return confirm('Are you sure you want to vacate this {{rent.1}}?');" type="submit" name="action" value="vacate">Vacate</button> 
                </form></td> 
        </tr>
        {% endfor %}
    </table>
    <br/>
    
        
    <h2>Office Spaces<h2/>
    <a href="addoffice">Add new office space</a>
    <div class="ex2">
    <table border=1>
        <thead>
            <th>Unit</th>
            <th>Features</th>
            <th>Timescale</th>
            <th>Type</th>
            <th>Size (s.f.)</th>
            <th>Street</th>
            <th>Unit no.</th>
            <th>Postal Code</th>
            <th>Occupied?</th>
            <th>Rate ($/Timescale)</th>
        </thead>
        {% for offi in offices %}
        <tr>
            <td> {{ offi.0 }} </td>
            <td> {{ offi.1 }} </td>
            <td> {{ offi.2 }} </td>
            <td> {{ offi.3 }} </td>
            <td> {{ offi.4 }} </td>
            <td> {{ offi.5 }} </td>
            <td> {{ offi.6 }} </td>
            <td> {{ offi.7 }} </td>
            <td> {{ offi.8 }} </td>
            <td> {{ offi.9 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>
        
    <h2>Storage Spaces<h2/>
    <a href="addstorage">Add new storage space</a>
    <div class="ex3">
    <table border=1>
        <thead>
            <th>Unit</th>
            <th>Features</th>
            <th>Timescale</th>
            <th>Type</th>
            <th>Size (s.f.)</th>
            <th>Street</th>
            <th>Unit no.</th>
            <th>Postal Code</th>
            <th>Occupied?</th>
            <th>Rate ($/Timescale)</th>
        </thead>
        {% for store in storages %}
        <tr>
            <td> {{ store.0 }} </td>
            <td> {{ store.1 }} </td>
            <td> {{ store.2 }} </td>
            <td> {{ store.3 }} </td>
            <td> {{ store.4 }} </td>
            <td> {{ store.5 }} </td>
            <td> {{ store.6 }} </td>
            <td> {{ store.7 }} </td>
            <td> {{ store.8 }} </td>
            <td> {{ store.9 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>

    <h2>Conference Rooms<h2/>
    <a href="addconfrooms">Add new conference room</a>
    <div class="ex4">
    <table border=1>
        <thead>
            <th>Unit</th>
            <th>Features</th>
            <th>Timescale</th>
            <th>Type</th>
            <th>Size (s.f.)</th>
            <th>Street</th>
            <th>Unit no.</th>
            <th>Postal Code</th>
            <th>Occupied?</th>
            <th>Rate ($/Timescale)</th>
        </thead>
        {% for conf in confrooms %}
        <tr>
            <td> {{ conf.0 }} </td>
            <td> {{ conf.1 }} </td>
            <td> {{ conf.2 }} </td>
            <td> {{ conf.3 }} </td>
            <td> {{ conf.4 }} </td>
            <td> {{ conf.5 }} </td>
            <td> {{ conf.6 }} </td>
            <td> {{ conf.7 }} </td>
            <td> {{ conf.8 }} </td>
            <td> {{ conf.9 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>
        
    <h2>Work Cubicles<h2/>
    <a href="addworkcube">Add new work cubicle</a>
    <div class="ex5">
    <table border=1>
        <thead>
            <th>Unit</th>
            <th>Features</th>
            <th>Timescale</th>
            <th>Type</th>
            <th>Size (s.f.)</th>
            <th>Street</th>
            <th>Unit no.</th>
            <th>Postal Code</th>
            <th>Occupied?</th>
            <th>Rate ($/Timescale)</th>
        </thead>
        {% for work in workcubes %}
        <tr>
            <td> {{ work.0 }} </td>
            <td> {{ work.1 }} </td>
            <td> {{ work.2 }} </td>
            <td> {{ work.3 }} </td>
            <td> {{ work.4 }} </td>
            <td> {{ work.5 }} </td>
            <td> {{ work.6 }} </td>
            <td> {{ work.7 }} </td>
            <td> {{ work.8 }} </td>
            <td> {{ work.9 }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br/>
    
</body>
</html>
