{% load static %}
<html>
<body>
    <img src="{% static 'app/images/hotdesk.jpg' %}" style="text-align:center; width: 30%" alt="HotDesk logo"/><br/>
    <br/><br/><br/><br/>
    
    <p style="color:red; text-align:center">{{ status|safe }}</p>
    
    <div style="text-align:center">
        <!-- Create a Form -->
        <form method="POST" style="display: inline;">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->
            <label for="username">Username:</label><br/>
            <input type="text" id="username" name="username" value=""><br/>
            <label for="pwd">Password:</label><br/>
            <input type="password" id="pwd" name="pwd"><br/><br/>
            <button type="submit" style="color:green" name="action" value="login">Login</button> 
        </form>
    </div>
    
</body>
</html>
