<html>
<body>
    <br/>
    <h1 style="text-align:center">Welcome to Hot-Desk App</h1>
    <br/><br/><br/><br/><br/>
    
    <form style="text-align:center" method="post">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="pwd">Password:</label><br>
      <input type="password" id="pwd" name="pwd">
    </form>
  
    <div style="text-align:center">
      <button type="submit" class="button">Login</button></a>
    </div>
    
</body>
</html>
