<html>
<body>
    <br/>
    <h1 style="text-align:center">Welcome to Hot-Desk App</h1>
    <br/><br/><br/><br/><br/>
  
    <div style="text-align:center">
        <!-- Create a Form -->
        <form method="POST" style="display: inline;">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value=""/><br>
            <button type="submit" name="action" value="login">Login</button> 
        </form>
    </div>
    
</body>
</html>
