<html>
<body>
    <h2>Sign Up Form</h2>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <h3>Login Credentials</h3>
        <div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
        Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" maxlength="32" class="textinput textInput" required="" id="id_username"> </div> </div> 
        
        <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" maxlength="32" class="textinput textInput" required="" id="id_password"> </div> </div> 
        
        <h3>Personal Information</h3>
        <div id="div_id_customerid" class="control-group"> <label for="id_customerid" class="control-label requiredField">
        Customerid<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="customerid" maxlength="16" class="textinput textInput" required="" id="id_customerid"> </div> </div> 
        
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        First name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" maxlength="64" class="textinput textInput" required="" id="id_first_name"> </div> </div>
        
        <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Last name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div>
        
        <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div>
        
        <div id="div_id_gender" class="control-group"> <label for="id_gender" class="control-label requiredField">
        Gender<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="gender" maxlength="64" class="textinput textInput" required="" id="id_gender"> </div> </div>
        
        <div id="div_id_dob" class="control-group"> <label for="id_dob" class="control-label requiredField">
        Date of birth (yyyy-mm-dd)<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="dob" class="dateinput" required="" id="id_dob"> </div> </div>
        
        <div id="div_id_contact_no" class="control-group"> <label for="id_contact_no" class="control-label requiredField">
        Contact No.<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="contact_no" maxlength="8" class="numberinput numberInput" required="" id="id_contact_no"> </div> </div>

        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
